html {
	font-family: Helvetica, Century Gothic, sans-serif;
	font-size: 0.75rem;
	font-weight: lighter;
	color: #DEE7EF;
}

.bubble 
{
/*visibility: hidden;*/
position: absolute;
left: 53px;
width: 295px;
height: 160px;
padding: 4px;
background: #FFFFFF;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
border: black solid 1px;
font-family: Helvetica, Century Gothic, sans-serif;
line-height: 1rem;
font-size: 1rem;
color: black;
background-color: #e9e9e9;
text-align: center;
font-weight: lighter;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 19px;
border-color: #e9e9e9 transparent;
display: block;
width: 0;
z-index: 1;
top: -19px;
left: 132px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 19px;
border-color: black transparent;
display: block;
width: 0;
z-index: 0;
top: -20px;
left: 132px;
}

.navbar {
	background-color: #e9e9e9;
	display:block;
}

.navbar ul {
	list-style-type: none;
	margin: 20px;
	padding: 0px;

}

.navbar ul li {
	display: inline;
	padding: 1.5rem;
	width: 600px;
	margin-left: 1rem;
}

.navbar ul li a:hover, .settings a:hover {
	text-decoration: none;
	padding: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 4px solid #000000;
  /*border-bottom: 4px solid #08AAFD;*/
	/*color: #08AAFD;*/
	/* blue accent underline color: #08AAFD */
}

/* highlight links on hover */
/*a:hover {
	color: white;
	padding: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: #4f4f4f;
	font-weight: lighter;
}*/

.navbar ul li a, .settings a{
	letter-spacing: 3px;
	font-size: 1.5em;
	text-decoration: none;
	font-weight: lighter;
	padding: 1rem;
	color: #4f4f4f;
	-o-transition: .1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
}


.logo-link a:hover {
	background-color: transparent;;
	padding: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 0;
	border-bottom: 0;
}


.nav {
	position: absolute;
	top: 10px;
	left: 10px;
	letter-spacing: 0.1rem;
	font-size: 0.6rem;
	font-weight: 600;
}

.settings {
	position: absolute;
	top: 43px;
	right: 12rem;
	letter-spacing: 0.1rem;
	font-size: 0.6rem;
	font-weight: 600;
}



.main {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px black solid;*/
	display: block;
}

.products {
	text-align: center;
	width: 950px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #e9e9e9;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;

}

.logo-large {
	margin-left: auto;
	margin-right: auto;
	display:block;
	width: 550px;
	/*border: 1px black solid;*/
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	display: table;
	padding-bottom: 4rem;
	padding-top: 1rem;
	/*border: 1px black solid;*/
}

.favicon {
	width: 40px;
	vertical-align: middle;
}

.item {
	display: inline-block;
	margin-top: 5px;
	margin:initial;
	padding: .7rem;
	padding-bottom: 40px;
	width: 250px;
	border-radius: 1rem;
	height:auto;
	-o-transition: .1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
}

.item:hover{

	background-color: #a0a0a0;
	box-shadow: 0px 5px 5px #b4b4b4;
}

.product-image {
	width:100%;
	height: auto;
	border-radius: .4rem;
}

.product-col {
	display: inline-block;
	margin: none;
	vertical-align: top;
}

#col1, #col2, #col3 {
}

input[type="submit"] {
	font-size: 1rem;
	font-weight: 400;
	color: #ffffff;
	background-color: #000000;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1rem;
	width: 10rem;
 	box-shadow: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #000000;


}

input:focus {outline: none !important;}

input[type="url"] {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #ffffff;
	font-size: 1rem;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1rem;
	width: 40rem;
	box-shadow: none;
	border: 1px solid #a4a4a4;
	font-weight: 200;
	font-style: italic;
}
